*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    .calculator{
        // position: absolute;
        // top: 50%;
        // height: 50%;
        // transform: translate(-50%, -50%);
        // z-index: 99;
        width: fit-content;
        background-color: #000;
        padding: 20px;
        border-radius: 20px;
        &__header{
            .calculation-result{
                color: #fff;
                font-size: 50px;
                text-align: right;
                font-weight: 500;
            }
            margin-bottom: 20px;
        }
        &__body{
            .btn{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 0;
                cursor: pointer;
                margin-bottom: 10px;
                margin-right: 4px;
                font-size: 20px;
                font-weight: 600;
                &.--gray{
                    background-color: #A0A0A0;
                    color: #313131;
                }
                &.--orange{
                    background-color: #F79A0A;
                    color: #fff;
                }
                &.--black{
                    background-color: #313131;
                    color: #fff;
                }
                &.w-2{
                    width: 108px;
                    border-radius: 30px;
                }
                &:focus{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}