* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .calculator {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  padding: 20px;
  border-radius: 20px;
}

.container .calculator__header {
  margin-bottom: 20px;
}

.container .calculator__header .calculation-result {
  color: #fff;
  font-size: 50px;
  text-align: right;
  font-weight: 500;
}

.container .calculator__body .btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 4px;
  font-size: 20px;
  font-weight: 600;
}

.container .calculator__body .btn.--gray {
  background-color: #A0A0A0;
  color: #313131;
}

.container .calculator__body .btn.--orange {
  background-color: #F79A0A;
  color: #fff;
}

.container .calculator__body .btn.--black {
  background-color: #313131;
  color: #fff;
}

.container .calculator__body .btn.w-2 {
  width: 108px;
  border-radius: 30px;
}

.container .calculator__body .btn:focus {
  background-color: #fff;
  color: #000;
}
/*# sourceMappingURL=app.css.map */